.aup_content{
    cursor: pointer;
}
.aup_rows:nth-child(odd) {
    background: #fafafa;
}

.aup_rows:nth-child(even) {
    background: #ffffff;
}
html, body {
    height:100%;
}
.ssp-btn__action[disabled]:hover {
    background-color: #599adb;
    color: #fff;
    border-color: transparent;
}
#aups_panel {
    width: 100%;
    height: 70vh;
    position: relative;
    top:0px;
    padding:0px;
}